{% extends 'base.html' %}

{% block content %}

<h4>Filter</h4>

<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Kategorie</th>
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
        <tr>
            <td>{{ r.bezeichnung }}</td>
            <td>{{ r.kategorie }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}